// app scss core

// --- global ---
*:focus { outline: none! important }

// --- colors ---
.is-primary-text {
    color: #EF6C00;
}

.is-secondary-text {
    color: #5D4037;
}

.is-accent-text {
    color: #00C853;
}

.is-primary {
    background-color: #EF6C00;
}

.is-secondary {
    background-color: #5D4037;
}

.is-accent {
    background-color: #00C853;
}

// --- scrollbar ---
::-webkit-scrollbar-track {
    border: none;
    background-color: #dadada;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #aeaeae;
}

::-webkit-scrollbar-thumb {
    background-color: #aeaeae;
}

// imports core scss file
@import "./core/mdi-icons";
@import "./core/overrides";
@import "./core/helpers";
@import "./core/animate";
@import "./core/colors";
@import "./core/toasted";
@import "./core/main";