<template>
    <v-app>
        <v-main>
            <div>
                <h1>Vuetify kit starter</h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, aspernatur architecto optio ducimus iste debitis neque, ea facilis reprehenderit magnam doloremque omnis vitae. Dolores consectetur quisquam iste itaque placeat? Placeat?
            </div>
        </v-main>
    </v-app>
</template>

<script>
export default {
    name: 'Index',
    components: {},
    data () {
        return {
            //
        }
    },
    computed: {
        //
    },
    methods: {
        //
    },
    created () {
        //
    }
}
</script>
