// main scss

#page {
    position: relative;
    width: 100%;
    height: 100%;
    bottom: 0;

    #sidebar {
        padding-top: 48px;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 15%;
        height: 100%;
        overflow: auto;
    }

    #content {
        bottom: 0;
        right: 0;
        position: relative;
        left: 15%;
        width: 85%;
        height: 100%;
    }
}
