<template>
    <!-- <keep-alive> -->
    <router-view></router-view>
    <!-- </keep-alive> -->
</template>

<script>
export default {
    name: 'App',
    data () {
        return {
            //
        }
    },
}
</script>

<style lang="scss">
// SCSS
@import "./assets/scss/app.scss"

</style>
